.rvbs-search-rv{


    .filster_section {
      position: sticky;
      top: 0; /* the height of the header (60px) + its bottom margin (20px) */
    height: max-content;
      margin-bottom: 20px;
      }

      .show_aval_room {
        padding-left: 20px;
        flex-grow: 1;
        width: 75%;
      }


      
  // .content {
  //   background: rgb(200, 200, 200);
  //   height: 300px;
  //   padding: 20px;
  //   margin-bottom: 20px;
  // }
  .content {
    background: rgb(200, 200, 200);
    height: 300px;
    padding: 20px;
    margin-bottom: 20px;
}
.calendar-container {
    background: white;
    padding: 0;
    border-radius: 8px;
    text-align: center;
    position: relative;
}
.date-display {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    background: white;
    color: #999;
    font-size: 16px;
}
.date-display.active {
    color: black;
}
.date-display span {
    margin: 0 5px;
    color: black;
}
.hidden-inputs {
    display: none;
}
.flatpickr-calendar {
    top: 100% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}
  

  @media screen and (max-width: 992px) {
    .filster_section {
      width: 100%;
      z-index: 11;
      top: 0px;
      max-height: 100vh;
    }
  
    /* Ensure the collapsible filter content scrolls */
    #rooms_filter {
      max-height: 100vh; /* Adjust based on requirement */
      overflow-y: auto;
    }
  }
}


.flex-container {
  display: flex;
}

aside {
  position: sticky;
  top: 80px; /* the height of the header (60px) + its bottom margin (20px) */
  background: rgb(255, 100, 100);
  padding: 20px;
  width: 20%;
  height: 500px;
  margin-bottom: 20px;
}

main {
  padding-left: 20px;
  flex-grow: 1;
}

.content {
  background: rgb(200, 200, 200);
  height: 300px;
  padding: 20px;
  margin-bottom: 20px;
}